{% extends '../layout/layout.html' %}
{% block title %} 首页 {% endblock %}

{% block style %}
  <link data-load="pjax-css" type='text/css' rel='stylesheet' href='/styles/cat.component.css'/>
{% endblock  %}

{% block content %}
  <div data-load="pjax" id="app">
    <h1 class="cat__title">随机喵喵照片</h1>
    <div class="cat__btnbox">
      <button id="btn-dog">换一张</button>
    </div>
    <div class="cat__imgbox">
      <p>图片大小：[[data.fileSizeBytesDesc]]</p>
      <img class="cat__pic" src="[[data.imgUrl]]"/>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="/scripts/webpack-runtime.6914d.js"></script><script data-load="pjax-js" src="/scripts/cat.component.fa936.js"></script>
{% endblock  %}