.cat__title {
  background-color: cornflowerblue;
  text-align: center;
}

.cat__imgbox {
  text-align: center;
  padding: 20px;
}

.cat__pic{
  max-width: 300px;
}

.cat__btnbox{
  text-align: center;
}