{% extends '../layout/layout.html' %}
{% block title %} 首页 {% endblock %}

{% block style %}
  <link type='text/css' rel='stylesheet' href='/styles/home.css'/>
{% endblock  %}

{% block content %}
  <div id="app">
    <h1 class="home__title">Hello Home Index</h1>
    <input v-model="msg"/>
    <p>{{ msg }}</p>
  </div>
{% endblock %}

{% block scripts %}
  <!-- 支持 ESModule 的直接通过 Module 加载 -->
  <script type="module">
    import('/scripts/home.js').then(( { Home }) => {
      new Home("[[data.msg]]").init()
    })
  </script>
  <!-- 不支持 module 的浏览器使用 SystemJS 加载模块 -->
  <script nomodule>
    System.import('/scripts/home.bundle.js').then(( { Home }) => {
      new Home("[[data.msg]]").init()
    })
  </script>
{% endblock  %}
