.home__title {
  background-color: cornflowerblue;
  text-align: center;
}

.home__imgbox {
  text-align: center;
  padding: 20px;
}

.home_pic{
  max-width: 300px;
}

.home__btnbox{
  text-align: center;
}